mixin s-registration()
    section.s-registration
        .container
            +b-title("s-registration__title", "Регистрация")
            +b-description("s-registration__description", "С 2009 г. eLama.ru упрощает работу с контекстной рекламой. Мы не только выступаем на конференциях, а на собственном опыте знаем, как работает контекстная реклама. Поэтому мы понимаем, какие данные нужны каждой категории пользователей. Зарегистрируйтесь и убедитесь.")
            +f-first-form()

