.s-registration
  padding 35px 0 120px
  border-bottom 1px solid rgba(0, 37, 67, 0.2);
  &__title
    margin-bottom 35px
  &__description
    margin-bottom 45px
@media screen and (max-width: 780px)
  .s-registration
    padding-bottom 60px
