include ../../components/etc/svg
include mixins/a
include mixins/blocks
include mixins/buttons
include mixins/forms
include mixins/i
include mixins/lists
include mixins/menus
include mixins/modal
include mixins/previews
include mixins/sections
include mixins/sliders
include mixins/tables

include scripts
include head


