mixin s-slaid()
    section.s-slaid
        .container
            .s-slaid__inner
                .s-slaid__picture
                .s-slaid__wrap
                    h1.s-slaid__title Автоматические отчеты по контекстной рекламе
                    p.s-slaid__description Собирает данные из рекламных систем и превращает их в понятные отчеты для маркетолога, руководителя, клиента за 8 минут
