.b-phone-number
  display block
  &__title
    display: inline-block
    font-size 18px
    font-weight 700
    color #002543
    margin-bottom 8px
  &__description
    font-size 14px
    font-weight 400
    color #525252
