@font-face
  font-family Muller
  font-weight 700
  src url('../fonts/MullerBold.otf')
@font-face
  font-family Muller
  font-weight 400
  src url('../fonts/MullerRegular.otf')
@font-face
  font-family Muller
  font-weight 800
  src url('../fonts/MullerExtraBold.otf')
