-
    var list = [
    {
        title: 'Экономию ресурсов',
        description: 'Вам не понадобятся специальные знания или помощь программистов, чтобы получить готовый отчет'
    },
    {
    title: 'Скорость',
    description: 'Первичная настройка займет у вас не более 15 минут, а обновление данных происходит автоматически'
    },
    {
    title: 'Только нужные метрики',
    description: 'Вы выбираете тип шаблона в зависимости от своих задач: для маркетолога, руководителя или клиента'
    },
    {
    title: 'Единый источник данных',
    description: 'Наша система каждые 2 часа будет обновлять данные из ваших источников. В отчетах вам будет доступна статистика за сегодня.'
    },
    {
    title: 'Безопасность',
    description: 'Все информация надежно защищена. Разработчик сервиса eLama.ru гарантирует, что ваши данные или данные ваших клиентов никогда не попадут в руки третьих лиц'
    },
    {
    title: 'Любые возможности для продвинутых пользователей',
    description: 'Свободный доступ к данным рекламных систем и нашим инструментам. Создавайте собственные шаблоны в Power BI, и не платите за сервис и хранение данных'
    }
    ];
-
mixin s-give()
    section.s-give
        .container
            .s-give__inner
                +b-title("s-give__title", "Что вам это даст")
                +sl-slider(list, "s-give-slider")
