.s-give
  padding 100px 0 45px
  &__title
    margin-bottom 75px
  &-slider
    & .sl-slider__item:nth-of-type(1) .sl-slider__picture
      background-image url(../img/1.svg)
    & .sl-slider__item:nth-of-type(2) .sl-slider__picture
      background-image url(../img/2.svg)
    & .sl-slider__item:nth-of-type(3) .sl-slider__picture
      background-image url(../img/3.svg)
    & .sl-slider__item:nth-of-type(4) .sl-slider__picture
      background-image url(../img/4.svg)
    & .sl-slider__item:nth-of-type(5) .sl-slider__picture
      background-image url(../img/5.svg)
    & .sl-slider__item:nth-of-type(6) .sl-slider__picture
      background-image url(../img/6.svg)
