include ../../../components/sections/s-header/s-header

include ../../../components/sections/s-footer/s-footer
include ../../../components/sections/s-slaid/s-slaid
include ../../../components/sections/s-give/s-give
include ../../../components/sections/s-registration/s-registration